extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h2#header View All treasures
  .panel.panel-default
    .panel-body
      .row
        #map
      .row
        .col-xs-12
          table.table.table-striped.table-hover
            thead
              tr
                th!= linkBuilder.sort(query, 'name', 'Name')
                th!= linkBuilder.sort(query, 'loc.name', 'Location')
                th!= linkBuilder.sort(query, 'difficulty', 'Difficulty')
                th Tags
                th!= linkBuilder.sort(query, 'order', 'Order')
                th!= linkBuilder.sort(query, 'isFound', 'is Found?')
            tbody
              each treasure in treasures
                tr(data-name='#{treasure.loc.name}', data-lat='#{treasure.loc.lat}', data-lng='#{treasure.loc.lng}', data-order='#{treasure.order}')
                  if treasure.isLinkable == true && treasure.isFound == true
                    td: a(href='/treasures/#{treasure._id}')
                      img(src='/img/chest.gif')
                  else if treasure.isLinkable == true && treasure.isFound == false
                    td: a(href='/treasures/#{treasure._id}')= treasure.name
                  else
                    td= treasure.name
                  td= treasure.loc.name
                  td= linkBuilder.difficulty(treasure.difficulty)
                  td!= linkBuilder.tags(query, treasure.tags)
                  td= treasure.order
                  if treasure.isFound == true
                    td: img(src='/img/check.png', height='36px')
                  else
                    td: img(src='/img/redex.gif', height='30px')
block scripts
  script(src='/js/user/home.js')

